
.hello{
    margin: 0;
    padding: 0;
}


.jumbo{
    background: linear-gradient(to left, #4cb8c4, #3cd3ad);
    height: 400px;
margin-bottom: 350px;
border-radius: 0;
}

#logo {
    width: 500px;
    height: 400px;
    margin-left: 460px;
    margin-top: -25px;
}
